<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <header style="background-color: black;">
        <a href="/signup">Create Account</a>
        <a href="/login">Log in</a>
      
    </header>
    <h3 style="display: inline-block; border: 1px solid black;">To use this app as a guess use:<br>
    Username:  guest@hotmail.com <br>
    Password: guest2022
    </h3>
    <!-- <span >To use this app as a guess use:<br>
    Username:  guest@hotmail.com <br>
    Password: guest2022
    </span> -->
    <div>
        
        <h1>What will you achieve today</h1>
        <h2><%= quote.quote%></h2>
        <h3><%= quote.author%></h3>
    </div>

    <script src="javascript/main.js"></script>
</body>
</html>
