<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <header>
        <a href="/signup">Create Account</a>
        <a href="/login">Log in</a>
    </header>
    <div>
        <h1>The toDolist app</h1>
        <span>what will you get done today</span>
        <h2><%= quote.quote%></h2>
        <h3><%= quote.author%></h3>
    </div>

    <script src="javascript/main.js"></script>
</body>
</html>